$p-green: #69a425;
$s-green: #b1c940;
$white: #fff;
$lightgrey: #c9c9c9;
$mediumgrey: #909090;
$darkgrey: #4d4d4d;
$bg-paleyellow: #e0ded3;
$bg-paleyellow-lighter: #ecebe0;

$lighten-p-green : lighten($p-green, 10%);
$lighten-s-green : lighten($s-green, 10%);
$about-bg: #f0ece0;