@import './variables';
@import './base/fonts';
@import './base/bootstrap';
@import './components/header';


body {
    max-width: 980px;
    width: 100%;
    margin: auto;
}

.t-s-green {
    color: $s-green;
}

.t-p-green {
    color: $p-green;
}

.bg-s-green {
    background-color: $s-green;
}

.bg-p-green {
    background-color: $p-green;
}

.s-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'Gotham', sans-serif;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
    text-transform: uppercase;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}