#header {
  background-color: #fbf7f6;
  background: url('../assets/img/header_bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;

  .logo {
    left: 6em;
  }

  h1 {
    font-size: 6em;
    line-height: 70px;

    &:after {
      content: '';
      background: url('../assets/img/splash.svg') no-repeat;
      width: 50px;
      height: 50px;
      position: absolute;
      right: -9%;
      bottom: 20%;
    }
  }

  .tagline {
    color: $lightgrey;
    font-family: 'Gotham', sans-serif;
    font-size: 1em;
  }

  @include media-breakpoint-down(sm) {
    background-position: 23%;

    .logo {
      left: 50%;
      transform: translateX(-50%);
    }

    h1 {
      font-size: 3em;
      line-height: 40px;

      &:after {
        width: 30px;
        height: 30px;
        right: -11%;
        bottom: 22%;
      }
    }

    .tagline {
      font-size: 0.8em;
    }
  }
}