.products__presentation {
  background: url('../assets/img/products_bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;

  a:hover {
    color: $p-green;
  }
}

.icon__bio {
  display: block;
  margin: auto;
}

.product__tab {
  font-size: 2em;
  right: .2em;
  transition: all .2s ease-out;
  cursor: pointer;

  &:after {
    content: '';
    background: url('../assets/img/splash_white.svg') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -25px;
    bottom: 20px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    opacity: 0;
  }

  .separator {
    opacity: 0;
    width: 100%;
    transition: all .2s ease-in-out;
  }

  &:hover, &.active {
    transition: all .2s ease-in- out;

    .separator {
      opacity: 1;
    }

    &:after {
      opacity: 1;
      transition-delay: .2s;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 1.5em;
  }
}

.product {
  display: none;

  .s-button:hover {
    color: $p-green;
  }

  .product__mask {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    transform: translateX(-50%);
  }

  .product__title {
    font-family: 'AIMH', sans-serif;
    font-size: 1.4em;
    top: 0;
    left: calc(80px + 1em);

    @include media-breakpoint-down(sm) {
      left: 5em;
    }
  }

  .product__arrow__container {
    right: 45px;
    top: 80px;

    .product__arrow {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-down(sm) {
      right: 85px;
    }
  }

  .product__subtitle {
    font-family: 'AIMH', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    left: calc(-2em - 1.3em);
  }

  .product__flower {
    width: 125px;
    top: 2.5em;
    left: 5em;

    @include media-breakpoint-down(sm) {
      width: 85%;
    }
  }

  .product__img {
    height: 150px;
    transition: all .2s ease-in-out;
    z-index: 5;

    &:hover {
      transition: all .2s ease-in-out;
      transform: rotate(-30deg);
    }

    &:hover~.product__mask {
      opacity: 1;
    }
  }

  &.customProduct0 {
    .product__img {
      @include media-breakpoint-down(sm) {
        height: 100px;
      }
    }

    .product__flower {
      left: 7em;

      @include media-breakpoint-down(sm) {
        top: -20px;
      }
    }

    .product__title {
      left: 7.5em;

      @include media-breakpoint-down(sm) {
        left: 7em;
        top: -30px;
      }
    }

    .product__arrow__container {
      right: 80px;

      @include media-breakpoint-down(sm) {
        top: 40px;
        right: 100px;
      }
    }
  }

  &.customProduct1 {
    .product__arrow__container {
      right: -50px;
    }

    .product__subtitle {
      width: 115px;
    }

    .product__flower {
      left: 3em;
      width: 130px;
    }

    .product__title {
      left: calc(60px + 1em)
    }
  }
}

.description {
  width: 70%;
  margin: auto;
}

.receipe {
  h3 {
    font-size: 2em;

    &:after {
      content: '';
      background: url('../assets/img/splash.svg') no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.5em;
    }
  }

  h4 {
    font-size: 1.7em;
    color: $darkgrey;
  }

  h4.ingredients {
    &.receipe__splash__after:after {
      right: -25%;
    }
  }

  h4.step__title {
    &.receipe__splash__after:after {
      right: -12%;
    }
  }

  h4.advices__title {
    &.receipe__splash__after:after {
      right: -30%;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    padding-left: 0.4em;
  }

  .receipe__image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
  }


  .receipe__type {
    border-radius: 40% 60% 59% 41% / 47% 64% 36% 53%;
    background: $p-green;
    top: 1em;
    right: 1em;
  }
}

.receipe__splash__after {
  &:after {
    content: '';
    background: url('../assets/img/splash_simple_grey.svg') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 15px;
  }
}

.hooper-list {
  max-height: 600px;
}
